# Auto detect text files and perform LF normalization
* text=auto

# Configuration pour que GitHub-Linguit détecte bien le langage 
Extern*/* linguist-vendored
docs/* linguist-documentation
*.h linguist-language=C++
*.ino linguist-language=C++